<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../frontend/src/templates/css/style.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar has-background-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <h1 class="title is-4 has-text-white">Static Binary Analysis Report</h1>
            </a>
        </div>
    </nav>

    <!-- Main content -->
    <section class="section">
        <div class="container">

            <!-- Basic Info Section -->
            <div class="box">
                <h2 class="title is-4">
                    <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span> Basic Information
                </h2>
                <table class="table is-fullwidth is-striped">
                    <tbody>
                        <tr>
                            <td title="Name of the analysed binary file"><strong>File Name</strong></td>
                            <td>{{ basic_info.file_name }}</td>
                        </tr>
                        <tr>
                            <td title="Type of binary, e.g., Executable, Library, ..."><strong>File Type</strong></td>
                            <td>{{ basic_info.file_type }}</td>
                        </tr>
                        <tr>
                            <td title="Total size of the binary in megabytes"><strong>File Size</strong></td>
                            <td>{{ (basic_info.file_size / 1_000_000.0) | round(2) }} MB</td>
                        </tr>
                        <tr>
                            <td title="Architecture the binary was built for (e.g., x86_64)"><strong>Target Architecture</strong></td>
                            <td>{{ basic_info.arch }}</td>
                        </tr>
                        <tr>
                            <td title="Indicates if the binary is position-independent executable"><strong>Position Independent Executable (PIE)</strong></td>
                            <td>{{ 'Enabled' if basic_info.pie else 'Disabled' }}</td>
                        </tr>
                        <tr>
                            <td title="Whether the binary is stripped of symbols"><strong>Stripped</strong></td>
                            <td>{{ 'Yes' if basic_info.stripped else 'No' }}</td>
                        </tr>
                        <tr>
                            <td title="Linking type: Static or Dynamic"><strong>Linking</strong></td>
                            <td>{{ 'Statically Linked' if basic_info.static_linking == 'Statically linked' else 'Dynamically Linked' }}</td>
                        </tr>
                        <tr>
                            <td title="The starting address of the program"><strong>Entry Point</strong></td>
                            <td>0x{{ basic_info.entry_point }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Functions Section -->
            <div class="box">
                <h2 class="title is-4">
                    <span class="icon has-text-info"><i class="fas fa-list-alt"></i></span> Extracted Functions
                </h2>
                <p>This is the total number of functions extracted from the symbol table of the analysed binary: <strong>{{ num_func }}</strong></p>
                <p>Of the above, this is the total number of possible roots identified: <strong>{{ num_root }}</strong></p>

                <div class="buttons">
                    <a href="functions_list.html" class="button is-info is-light">
                        <span class="icon is-small"><i class="fas fa-table"></i></span>
                        <span>Table with details of functions</span>
                    </a>
                    <a href="disassembly_view.html" class="button is-info is-light">
                        <span class="icon is-small"><i class="fas fa-code"></i></span>
                        <span>Disassembled .text section</span>
                    </a>
                </div>
            </div>

            <!-- Call Trees Section -->
            <div class="box">
                <h2 class="title is-4">
                    <span class="icon has-text-info"><i class="fas fa-sitemap"></i></span> Call Trees
                </h2>
                <p>The roots identified by the software represent potential starting points in the program execution flow. 
                    These root functions guide the execution and organisation of the code within the binary. Each call tree maps 
                    the interaction between functions hierarchically, showing how each function is called by other functions from the root.</p>

                <p>Analysing these call trees makes it possible to better understand the behaviour of the binary, identifying 
                    key functions, execution patterns, and comparing the actual behaviour of the code with that declared by the developer.</p>

                <div class="buttons">
                    <a href="root_functions.html" class="button is-primary is-light">
                        <span class="icon"><i class="fas fa-sitemap"></i></span>
                        <span>View all root functions and their call trees</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Static Binary Analysis Report</strong> by Giuseppe Marco Bianco. The source code is licensed under <a href="https://github.com/SoftengPoliTo/manifest-producer/blob/main/LICENSE/MIT.txt">MIT</a>.
            </p>
        </div>
    </footer>

</body>

</html>
