<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disassembly View</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../src/frontend/templates/css/style.css">
    <script src="../src/frontend/templates/js/script.js"></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar has-background-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="index.html">
                <h1 class="title is-4 has-text-white">Static Binary Analysis Report</h1>
            </a>
        </div>
    </nav>

    <section class="section">
        <div class="container">

            <!-- Header -->
            <div class="box has-text-centered">
                <h2 class="title is-4">
                    <span class="icon has-text-info"><i class="fas fa-code"></i></span> Disassembled .text Section
                </h2>
                <div class="buttons is-centered">
                    <a href="functions_list.html" class="button is-link is-light">
                        <span class="icon is-small"><i class="fas fa-table"></i></span>
                        <span>Back to Functions List</span>
                    </a>
                    <a href="index.html" class="button is-link is-light">
                        <span class="icon is-small"><i class="fas fa-home"></i></span>
                        <span>Back to Homepage</span>
                    </a>
                </div>

            <!-- Search Bar for Functions -->
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Enter function name" id="searchInput" onkeyup="filterFunctions()">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
            </div>

            <!-- Disassembled code section for each function -->
            {% for function_name, disassembled_code in disassembly %}
            <section class="function-section">
                <div class="box">
                    <button class="collapsible button is-link is-light is-fullwidth truncate" title="{{ function_name }}">
                        {{ function_name }}
                    </button>
                    <div class="content" style="display: none;">
                        <pre><code id="code-{{ function_name }}">{{ disassembled_code }}</code></pre>
                        <button id="copy-btn-{{ function_name }}" class="button is-info" onclick="copyToClipboard('{{ function_name }}')">
                            <span class="icon"><i class="fas fa-copy"></i></span>
                        </button>
                    </div>
                </div>
            </section>
            {% endfor %}

        </div>
    </section>

    <!-- Scroll buttons -->
    <div class="scroll-buttons">
        <button onclick="scrollToTop()" class="button is-info">
            Scroll to Top
        </button>
        <button onclick="scrollToBottom()" class="button is-info">
            Scroll to Bottom
        </button>
    </div>

    <!-- Footer navigation -->
    <div class="box is-centered">
        <div class="buttons is-centered">
            <a href="functions_list.html" class="button is-link is-light">
                <span class="icon is-small"><i class="fas fa-table"></i></span>
                <span>Back to Functions List</span>
            </a>
            <a href="index.html" class="button is-link is-light">
                <span class="icon is-small"><i class="fas fa-home"></i></span>
                <span>Back to Homepage</span>
            </a>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Static Binary Analysis Report</strong> by Giuseppe Marco Bianco. The source code is licensed under <a href="https://github.com/SoftengPoliTo/manifest-producer/blob/main/LICENSE/MIT.txt">MIT</a>.
            </p>
        </div>
    </footer>

    
</body>

</html>
